<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <button type="button"><a href="/revenue">Revenue</a></button>
    <button type="button"><a href="/data_input">Get Enrollment</a></button>
    <button type="button"><a href="/resources">Resources</a></button>
    <button type="button"><a href="/enrollment">Enrollment</a></button>
    <button type="button"><a href="/classroom_req">Classroom req</a></button>
    <button type="button"><a href="/course_infos">Course Infos</a></button>

    
</body>

</html>